*

!gradle
!gradle/**/*
!*gradle*

!src
!src/**/*

!ci
!ci/*

!.gitignore
!.gitattributes
!.editorconfig
!.dockerignore
!.travis.yml
!Dockerfile
!app.yml
!entrypoint.sh

!LICENSE
!*.md
!codenarc.groovy
!swagger-config.json
